<%= form_for @task do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control'%>
  </div>

  <div class="form-check">
    <%= f.check_box :completed, class: "form-check-input" %>
    <label class="form-check-label" for="defaultCheck1">
      Completed
    </label>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<%= link_to "Back to tasks", tasks_path %>
